# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [54]:
# Import the packages required:
import pandas as pd
from pyspark.sql import SparkSession
import os
import json
from pandas.io.json import json_normalize

### Step 1: Introduction, datasets and scope of the project:

The main objective from this first project is apply all the concepts learned along the Data Engineering Nanodegree. I work
with four datasets provided by Udacity. Below, you can see a brief description over each one of datasets:

1. __I94 Immigration Data:__ This dataset was provided by US National Tourism and Trade Office. The aim of this information is create tools to positive growth in travel and tourism along the country and its economy and employment. Moreover, this report provides statistics and insights on KPIs about tourists and non-residents visitants to the US. In the next links you can find general information about this public entity and a dashboard made on Power BI with multiple statistics, indicators per visa types, port of entry, age groups, among others.


2. __World Temperature Data:__ Kaggle is the source of this dataset. The authors of the data (from Berkeley Earth Laboratory), combined 1.6 billion reports around the world. A huge amount of this information was collected by special technicians using mercury and electronic thermometers. The result was global, land and ocean temperaturesand even per countries and states. To a deep explanation about the structure of the data, you can visit the next URL:


3. __US City Demographic Data__ Opendatasoft built this information to all cities in United States with a population greater or equal to 65.000 people. You can find the info in csv, json and excel format and even an API to requests information. You can find in the next URL, a description, visualizations and descriptions about this dataset.


4. __Airport Code Table:__ This data was provided by datahub.io and get the information about the airport code with the international standards (IATA Code, that's mean a three-letter code with their corresponding geographical data). You can find the basic data modeling of this info and the download option (either json or csv extension through multiple programming languages as Python or R)in the next link:


The scope of this project is apply all the knowledges learned along the nanodegree. The main purpose will be build a data warehouse with a fact and dimension tables according to the data explained above to help to analytics teams and making decision as well.

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

We're going to review the data quality in each one the datasets:

In the next cells, we can read, explore and clean the corresponding datasets:

## 2.1 I94 Inmigration Data: Exploratory data analysis and cleaning:

To understand the structure and the definitions of the columns you can open the ___I94_SAS_Labels_Descriptions.SAS___ contained in this github repository.

In [3]:
# We define the spark session: 
spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

In [8]:
# We get the folder path from parquet files:
parquet_path = os.path.join(os.getcwd() + '/sas_data/*.parquet')

In [9]:
# Read the parquet files in the path indicated previously:
df_spark = spark.read.parquet(parquet_path)

In [12]:
# Now, we can look one sample of the data:
df_spark.head(1)

[Row(cicid=5748517.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='CA', depdate=20582.0, i94bir=40.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear=1976.0, dtaddto='10292016', gender='F', insnum=None, airline='QF', admnum=94953870030.0, fltno='00011', visatype='B1')]

In [13]:
# Print the schema to understand the data modeling and how was defined each column per data type:
df_spark.printSchema

<bound method DataFrame.printSchema of DataFrame[cicid: double, i94yr: double, i94mon: double, i94cit: double, i94res: double, i94port: string, arrdate: double, i94mode: double, i94addr: string, depdate: double, i94bir: double, i94visa: double, count: double, dtadfile: string, visapost: string, occup: string, entdepa: string, entdepd: string, entdepu: string, matflag: string, biryear: double, dtaddto: string, gender: string, insnum: string, airline: string, admnum: double, fltno: string, visatype: string]>

According the ___I94_SAS_Labels_Descriptions.SAS___ file, we'll apply the next transformations:

* Format the date to ARRDATE (arrival date in USA), DEPDATE (Departure date from USA), DTADDTO (Date to which admitted to US) columns
* Drop the next columns:
    * DTADFILE (unknown description)
    * VISAPOST (Departmanet of State where Visa was issued)
    * OCCUP (Occupation)
    * ENTDEPA (admitted or paroled into the U.S.)
    * ENTDEPD (Departed, lost I-94 or is deceased)
    * ENTDEPU (Update Flag - Either apprehended, overstayed, adjusted to perm residence)
    
    Every column doesn't use inside the dataset.

## 2.2 World Temperature Data:

To understand the structure and the definitions of the columns you can open the next link 
[climate-change-earth-surface-temperature-data](www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data) contained in Kaggle webpage. To this project, we take the GlobalLandTemperaturesByState in csv format.

In [23]:
# We get the current path to global temperatures per state: 
data_temperatures_path = os.path.join(os.getcwd() + "/global_temperatures/")

'/Users/michaelandr/Desktop/Data_Engineering_Udacity/Capstone_Project/global_temperatures/'

In [24]:
# Read the csv dataset
data_temperatures = pd.read_csv(data_temperatures_path + 'GlobalLandTemperaturesByState.csv')

In [25]:
# We look a couple of records:
data_temperatures.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [26]:
# We can see any statistical results along the dataset
data_temperatures.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       620027.000000                  620027.000000
mean             8.993111                       1.287647
std             13.772150                       1.360392
min            -45.389000                       0.036000
25%             -0.693000                       0.316000
50%             11.199000                       0.656000
75%             19.899000                       1.850000
max             36.339000                      12.646000

In [28]:
# Info about the columns data types:
data_temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 24.6+ MB

Then, we'll apply the next transformations to clean the dataset:

* Convert in date format the dt column
* Extract the year from dt column and create the respective column
* Drop the AverageTemperatureUncertainty columns,because we can work AverageTemperature without problems.
* Filter the dataframe only to United States.

## 2.3 US City Demographic Data:

This data comes from the US Census Bureau's 2015 American Community Survey detailed in the next below. To understand the structure and the definitions of the columns you can open the next link 
[US Cities: Demographics](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/information/?dataChart=eyJxdWVyaWVzIjpbeyJjb25maWciOnsiZGF0YXNldCI6InVzLWNpdGllcy1kZW1vZ3JhcGhpY3MiLCJvcHRpb25zIjp7fX0sImNoYXJ0cyI6W3siYWxpZ25Nb250aCI6dHJ1ZSwidHlwZSI6ImNvbHVtbiIsImZ1bmMiOiJBVkciLCJ5QXhpcyI6Im1lZGlhbl9hZ2UiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiIjRkY1MTVBIn1dLCJ4QXhpcyI6ImNpdHkiLCJtYXhwb2ludHMiOjUwLCJzb3J0IjoiIn1dLCJ0aW1lc2NhbGUiOiIiLCJkaXNwbGF5TGVnZW5kIjp0cnVlLCJhbGlnbk1vbnRoIjp0cnVlfQ%3D%3D) contained in Opensoft webpage. To this project, we take the info in json format.

In [95]:
# We get the current path to US demographic info: 
demographic_path = os.path.join(os.getcwd() + "/us_demographics/")

In [96]:
# Read the json dataset
with open(demographic_path + 'us-cities-demographics.json', 'r') as f:
    dataset_demographics = json.loads(f.read())

In [97]:
# Then, normalize the dataset:
data_demographics = pd.json_normalize(dataset_demographics)

In [98]:
# We look a couple of records:
data_demographics.head()

,datasetid,recordid,fields.total_population,fields.female_population,fields.count,fields.foreign_born,fields.state_code,fields.average_household_size,fields.city,fields.race,fields.male_population,fields.median_age,fields.number_of_veterans,fields.state
0,us-cities-demographics,a53c89d37b41991249c2a00b25c61c4a3ba692d3,682545,341408.0,72288,113222.0,CO,2.33,Denver,Black or African-American,341137.0,34.1,29363.0,Colorado
1,us-cities-demographics,ff1f3fda43e43418dd425119d10b14094ce56c9c,115258,59027.0,1916,10925.0,UT,3.28,Provo,American Indian and Alaska Native,56231.0,23.6,2177.0,Utah
2,us-cities-demographics,d47679da2b529ad33f9991204c5857d0fc8e1bdb,136454,70240.0,7513,6204.0,VA,2.48,Hampton,Hispanic or Latino,66214.0,35.5,19638.0,Virginia
3,us-cities-demographics,cc485012a82ee94e8f930e0876721b46cac8dadb,214911,112789.0,1500,8258.0,AL,2.21,Birmingham,Asian,102122.0,35.6,13212.0,Alabama
4,us-cities-demographics,b99c18f8d5b344bd820a2606e57149a6ab91af26,100883,50091.0,92874,11480.0,CO,2.75,Greeley,White,50792.0,31.0,4294.0,Colorado

In [102]:
# Info about the columns data types:
data_demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   datasetid                      2891 non-null   object
 1   recordid                       2891 non-null   object
 2   fields.total_population        2891 non-null   int64
 3   fields.female_population       2888 non-null   float64
 4   fields.count                   2891 non-null   int64
 5   fields.foreign_born            2878 non-null   float64
 6   fields.state_code              2891 non-null   object
 7   fields.average_household_size  2875 non-null   float64
 8   fields.city                    2891 non-null   object
 9   fields.race                    2891 non-null   object
 10  fields.male_population         2888 non-null   float64
 11  fields.median_age              2891 non-null   float64
 12  fields.number_of_veterans      2878 non-null   float64
 13  fields.state                   2891 non-null   object
dtypes: float64(6), int64(2), object(6)
memory usage: 316.3+ KB

Then, we'll apply the next transformations to clean the dataset:

* Drop the datasetid and recordid columns

## 2.4 Airport Code Table: 

This data get the special code IATA and ICAO airtport code. To understand the structure and the definitions of the columns you can open the next link [Airport codes](https://datahub.io/core/airport-codes#data) contained in Datahub webpage. To this project, we take the info in json format.

In [103]:
# We get the current path to US demographic info: 
airport_path = os.path.join(os.getcwd() + "/airport_code/")

In [104]:
# Read the json dataset
with open(airport_path + 'airport-codes_json.json', 'r') as f:
    dataset_airport_codes = json.loads(f.read())

In [105]:
# Then, normalize the dataset:
data_airport_code = pd.json_normalize(dataset_airport_codes)

In [106]:
# We look a couple of records:
data_airport_code.head()

,continent,coordinates,elevation_ft,gps_code,iata_code,ident,iso_country,iso_region,local_code,municipality,name,type
0,NA,"-74.93360137939453, 40.07080078125",11,00A,None,00A,US,US-PA,00A,Bensalem,Total Rf Heliport,heliport
1,NA,"-101.473911, 38.704022",3435,00AA,None,00AA,US,US-KS,00AA,Leoti,Aero B Ranch Airport,small_airport
2,NA,"-151.695999146, 59.94919968",450,00AK,None,00AK,US,US-AK,00AK,Anchor Point,Lowell Field,small_airport
3,NA,"-86.77030181884766, 34.86479949951172",820,00AL,None,00AL,US,US-AL,00AL,Harvest,Epps Airpark,small_airport
4,NA,"-91.254898, 35.6087",237,None,None,00AR,US,US-AR,None,Newport,Newport Hospital & Clinic Heliport,closed

In [107]:
# Info about the columns data types:
data_airport_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57421 entries, 0 to 57420
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   continent     57421 non-null  object
 1   coordinates   57421 non-null  object
 2   elevation_ft  49608 non-null  object
 3   gps_code      41561 non-null  object
 4   iata_code     9225 non-null   object
 5   ident         57421 non-null  object
 6   iso_country   57421 non-null  object
 7   iso_region    57421 non-null  object
 8   local_code    30030 non-null  object
 9   municipality  51527 non-null  object
 10  name          57421 non-null  object
 11  type          57421 non-null  object
dtypes: object(12)
memory usage: 5.3+ MB

In [109]:
data_airport_code['continent'].value_counts()

NA    28443
SA     8443
EU     8404
AS     5619
AF     3361
OC     3123
AN       28
Name: continent, dtype: int64

In [110]:
data_airport_code['continent'].value_counts('iata_code')

NA    0.495341
SA    0.147037
EU    0.146358
AS    0.097856
AF    0.058533
OC    0.054388
AN    0.000488
Name: continent, dtype: float64

Then, we'll apply the next transformations to clean the dataset:

* Drop the datasetid and recordid columns

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.